extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href='/books') Back
  h3 Edit Book
  form(action=`/books/${book.id}/edit`, method='POST',enctype='multipart/form-data')
    .form-group.row
      label.col-sm-2.col-form-label Title
      .col-sm-10
        input.form-control(type='text', name='title',value=`${book.title}`)
    .form-group.row
      label.col-sm-2.col-form-label Description
      .col-sm-10
        input.form-control(type='text', name='desc',value=book.desc)
    .form-group.row
      label.col-sm-2.col-form-label Change Avatar:
      .col-sm-10.pb-sm-3
        input(type='file', name='coverUrl')
    button.btn.btn-primary Done