extends ../layouts/common
block nav
  include ../layouts/nav
block content
  a(href='/transactions') Back
  h3 Create a new Transaction
  form(action='/transactions/create', method='POST')
    label(for='users') Choose a User
    select.form-control.mb-3(id='users',name='userId')
      each user in users
        option(value=user.id)
          span= user.name
    label(for='books') Choose a Book
    select.form-control(id='books',name='bookId')
      each book in books
        option(value=book.id)
          span= book.title
    br
    button.btn.btn-primary Create